/* Importing Google fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Martel:wght@800&family=Poppins:wght@400;600&family=Roboto:wght@300&display=swap');
*//* Importing components */
@import url("components/container.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

body {
  background-color: rgb(245, 245, 245);
}

h1, h2, h3, h4, p {
  font-family: 'Raleway', san-serif;
  font-weight: bold;
}

p {
  font-weight: normal;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.img-author {
  border-radius: 8px;
  margin-left: 64px;
}

a {
  text-decoration: none;
  color: black;
}

p, a {
  letter-spacing: 1px;
}

.background-white {
  background-color: white;
}

.banner a:hover {
  color: #126e82;
}

.banner p {
  margin-bottom: 0;
}

.text-green {
  color: #126e82;
}

.banner ul {
  margin-bottom: 0;
}

.banner li {
  display: inline;
  margin-left: 8px;
}

.social-links {
  display: flex;
  width: 28%;
  min-width: 140px;
  justify-content: space-between;
  margin: 0 auto;

}

.social-links a {
  display: block;
  padding: 8px;
}

.project-card {
  width: 100%;
  margin-bottom: 64px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 40px 0 rgb(0 0 0 / 10%);
  /*border: 3px solid grey;*/
}

.project-card img {
  width: 100%;
/*  border-bottom: 3px solid grey;*/
  border-bottom: 3px solid grey;
}

.project-content {
  padding: 24px;
}

.project-content {
  font-size: 14px;
}
