/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@800&family=Poppins:wght@400;600&family=Roboto:wght@300&display=swap');
/* Importing components */
@import url("components/container.css");

body {
  background-color: rgb(245, 245, 245);
}

h1, h2, h3, h4 {
  font-family: 'Martel', serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

.img-author {
  margin-bottom: 24px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  color: rgba(80, 80, 80, 1.0);
}

p, a {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.social-links {
  display: flex;
  width: 28%;
  min-width: 140px;
  justify-content: space-between;
  margin: 0 auto;

}

.social-links a {
  display: block;
  padding: 8px;
}

.project-card {
  width: 100%;
  margin: 64px 0;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 40px 0 rgb(0 0 0 / 10%);
  border: 3px solid grey;
}

.project-card img {
  width: 100%;
  border-bottom: 3px solid grey;
}

.project-content {
  padding: 24px;
}

.project-content {
  font-size: 14px;
}
