/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

/* Importing components */
@import url("components/containers.css");
@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/footer.css");
@import url("components/tags.css");
@import url("components/banner.css");

body {
  background-color: rgb(245, 245, 245);
  font-family: 'Raleway', san-serif;
  color: rgb(40, 40, 40);
}

h1, h2, h3, h4 {
  font-weight: bold;
}

p {
  font-weight: normal;
  font-size: 14px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: rgb(40, 40, 40);
}

a:hover {
  color: rgb(40, 40, 40);
}

p, a {
  letter-spacing: 1px;
}

.background-white {
  background-color: white;
}

.text-green {
  color: #126e82;
}

.text-darker {
  color: rgba(0, 0, 0, 0.7);
}






