/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300&display=swap');
/* Importing components */
@import url("components/container.css");

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
}

.img-author {
  margin-bottom: 24px;
}

p, a {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.social-links {
  display: flex;
  width: 20%;
  min-width: 140px;
  justify-content: space-between;
  margin: 0 auto;

}

.social-links a {
  display: block;
}
