.project-card {
  width: 100%;
  margin-bottom: 88px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0 2px 40px 0 rgb(0 0 0 / 10%);
}

.project-card img {
  width: 100%;
  border-radius: 6px 6px 0 0;
  border-bottom: 3px solid grey;
}

.project-content {
  padding: 24px;
}

.project-content {
  font-size: 14px;
}
