.project-card {
  width: 100%;
  margin-bottom: 88px;
  border-radius: 6px;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 12%);
}

.project-img {
  width: 100%;
  border-radius: 6px 6px 0 0;
  border-bottom: 3px solid grey;
}

.project-content {
  padding: 24px;
  font-size: 14px;
}

.hover-rise {
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.hover-rise:hover {
  top: -8px;
}
