.main-container {
  margin: 0 auto;
  width: 95%;
}

/*@media (max-width: 960px) {
  .main-container {
    width: 640px;
  }
}
@media (max-width: 720px) {
  .main-container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .main-container {
    width: 300px;
  }
}*/
