.footer {
  background-color: #126e82;
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center
}

.footer-container {
  width: 300px;
  margin: auto;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-links i {
  font-size: 32px;
  color: rgba(0, 0, 0, 0.4);
}

.social-links i:hover {
  color: rgba(0, 0, 0, 0.7);
}





