.tech-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}

.tech-tags span {
  font-size: 13px;
  margin-right: 6px;
  margin-bottom: 8px;
  padding: 8px 16px;
  border: 1px solid #126e82;
  color: #126e82;
  border-radius: 50px;
}
